@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jersey+10&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body {
    font-family: 'Exo 2';
    font-size: bold;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font: bold;
    margin-bottom: 25px;
    font-size: 24px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-family: 'Exo 2';
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #fff;
}

select {
    font: bold;
    font-family: 'Exo 2';
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #fff;
    transition: border-color 0.3s;
}

option {
    font: bold;
    font-family: 'Exo 2';
    color: white;
    background-color: #0315b4;
}

select:focus {
    border-color: #007bff;
}

.num {
    color: #e9e7e7;
}

button {
    font-family: 'Exo 2';
    font: bold;
    background-color: #030d68;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #2402bd;
}

.hidden {
    color: greenyellow;
    display: none;
}

.progress-bar {
    background-color: #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 25px;
    height: 35px;
    position: relative;
}

.progress-bar div {
    height: 100%;
    background: #800080;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 0;
    transition: width 0.5s;
}

#progressText {
    margin-top: 15px;
    font-weight: 600;
}

.key-item {
    font-family: 'Exo 2';
    font: bold;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.key-item input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 12px;
}

.copyKeyBtn {
    font-family: 'Exo 2';
    font: bold;
    background-color: #191883;
    border: none;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copyKeyBtn:hover {
    background-color: #2c0fad;
}

.footer {
    font-family: 'Exo 2';
    font: bold;
    margin-top: 25px;
    font-size: 14px;
    color: #ebe8e8;
}

#copyStatus {
    margin-top: 15px;
    color: rgb(2, 0, 128);
}
